[settings]
all_compile = false
minimum_release_age = "0s"

[settings.npm]
package_manager = "npm"

[env]
PI_CODING_AGENT_DIR = "{{ .chezmoi.homeDir }}/.config/pi"

[plugins]
co = "https://github.com/anysphere/origin-cli-asdf"

[tools]
codex = "latest"
python = "3.14"
copilot-cli = "latest"
uv = "latest"
opencode = "latest"
pi = "latest"
node = "26"
"npm:@deepseek-ai/dsh" = "0.1.1-rc.2"
co = "latest"
fx = "latest"
cursor-agent = "latest"
grok = "latest"
herdr = "0.8.2"
