<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.dp.yabai</string>

  <key>ProgramArguments</key>
  <array>
    <string>/Users/dp/.nix-profile/bin/yabai</string>
    <string>--config</string>
    <string>/Users/dp/.config/yabai/yabairc</string>
    <string>--verbose</string>
  </array>

  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/Users/dp/.nix-profile/bin:/nix/var/nix/profiles/default/bin:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
  </dict>

  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <dict>
    <key>SuccessfulExit</key>
    <false/>
  </dict>

  <key>StandardOutPath</key>
  <string>/Users/dp/.cache/yabai/yabai.out.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/dp/.cache/yabai/yabai.err.log</string>
</dict>
</plist>
